.content {
    padding: 20px 0;
    background-color: #fff;

    .title {
        text-align: center;
        font-size: 23px;
        font-size: 700;
    }

    .user {
        font-size: 11px;
        text-align: center;
        color: #ccc;
        margin: 5px 0;
    }

    img {
        width: 100%;
        height: 200px;
    }

    .con {
        margin-top: 10px;
    }
}