.content {
    padding: 10px;

    .top {
        font-size: 25px;
        color: #ccc;
        text-align: center;
    }

    .content_name {
        font-size: 15px;
    }

    .content_id {
        margin-top: 10px;
    }
}