.selectDoctor {
    display: flex;

    .selectDoctor_ul {
        height: calc(100vh - 1.2rem - 1.33333rem);
        background-color: #f7f7f7;
        width: 100px;

        li {
            height: 50px;
            line-height: 50px;
            text-indent: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
        }
    }

    .selectDoctor_content {
        background-color: #fff;
        flex: 1;
    }
}